/****************
  Utilities
 ***************/

/**
  * CustomStyle.css color reset
  */
h1,
h2,
h3,
h4 {
	color: #fff;
}
a:link,
a:visited,
a:hover,
a:active {
	color: #0079c1;
}

textarea,
input,
select,
option {
	font-family: 'ProximaNova-Reg', 'Montserrat', Helvetica, sans-serif;
}
label {
	white-space: pre-wrap;
}
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html,
body {
	height: 100%;
}
body {
	/* Backup to Montserrat for Local development*/
	font: 18px/1.5 'ProximaNova-Reg','Montserrat',Helvetica,sans-serif;

	background: #fff;
}
a {
	text-decoration: none;

	color: #0079c1;
}
.wrapper {
	max-width: 1107px;
	margin-right: auto;
	margin-left: auto;
	/* debug */
	/* 
	border-right: 1px solid red;
	border-left: 1px solid red;*/
}
@media screen and (max-width: 979px) {
	.wrapper {
		max-width: 1107px;
		margin: 0 10px;
	}
}

/* Clearfix */
.wrapper:after {
	display: table;
	clear: both;

	content: '';
}
.pad {
	padding: 40px;
}
.main-content {
	margin: 43px 0 0 0;
}
.center {
	width: 50%;
	margin: 0 auto;

	text-align: center;
}
.left {
	float: left;
}
.right {
	float: right;
}
.hidetext {
	overflow: hidden;

	white-space: nowrap;
	text-indent: 100%;
}
ul {
	list-style-type: disc;
}

/* CLEARFIX */
.clearfix:after {
	display: block;
	visibility: hidden;
	clear: both;

	height: 0;

	content: '.';
}
.clearfix {
	display: inline-block;
} /* For IE7 */
* html .clearfix {
	height: 1%;
} /* Hides from IE-mac \*/
.clearfix {
	display: block;
} /* End hide from IE-mac */

/*************
 * Grid
 *************/

.section {
	clear: both;

	margin: 0;
	padding: 0;
}

.group:before,
.group:after {
	display: table;

	content: '';
}
.group:after {
	clear: both;
}
.group {
	zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

.col {
	display: block;
	float: left;

	margin: 1% 0 1% 1.6%;
}

.col:first-child {
	margin-left: 0;
} /* all browsers except IE6 and lower */


/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */

@media only screen and (max-width: 767px) {
	.col {
		margin: 1% 0 1% 0;
	}
}

/*  GRID OF FOUR  */


.span_4_of_4 {
	width: 100%;
}

.span_3_of_4 {
	width: 74.6%;
}

.span_2_of_4 {
	width: 49.2%;
}

.span_1_of_4 {
	width: 23.8%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 767px) {
	.span_4_of_4 {
		width: 100%;
	}
	.span_3_of_4 {
		width: 100%;
	}
	.span_2_of_4 {
		width: 100%;
	}
	.span_1_of_4 {
		width: 100%;
	}
}

/*  GRID OF THREE  */


.span_3_of_3 {
	width: 100%;
}

.span_2_of_3 {
	width: 66.13%;
}

.span_1_of_3 {
	width: 32.26%;
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 767px) {
	.span_3_of_3 {
		width: 100%;
	}
	.span_2_of_3 {
		width: 100%;
	}
	.span_1_of_3 {
		width: 100%;
	}
}



/***************
 * Typography
 **************/

/*Note Sizing this based on header .bottom h2, might need a different value sitewide*/
h2 {
	font-size: 34px;
}
.ico_mobile-menu,
.ico_close {
	display: inline-block;

	background: url(../assets/images/tbtm_sprite.png) no-repeat;
}

.ico_mobile-menu {
	width: 50px;
	height: 28px;

	background-position: -0 -0;
}

/*When menu is toggled, switch to X*/
.active .ico_mobile-menu {
	width: 28px;
	height: 28px;

	background-position: -50px -0;
}

.test {
	color: blue;
}
/**
  * Responsive Utilities
  */
img {
	display: block;

	max-width: 100%;
}

h3 {
	font-size: 30px;
}
h4 {
	font-size: 28px;
}
h6 {
	font-size: 24px;
	line-height: 55px;

	color: #0079c1;
}
p,
li {
	line-height: 2em;

	margin: 0 0 10px 0;
}

/* Style elements */
a.give {
	font-family: 'ProximaNova-Bold', Helvetica, sans-serif;

	display: block;

	width: 247px;
	height: 45px;
	margin: 0;
	padding: 7px 0 12px 47px;

	text-align: center;

	color: #fff;
	background: url(../assets/images/symbol-dedicate-btn.png) 18px 8px no-repeat #0079c1;
}

/* Override button style for top bar*/
a.login,
a.login:link {
	float: right;

	padding: 0.7em;

	color: #fff;
}
/*Note: dobule check that you use all of these*/
.arrow-green-right:after,
.arrow-blue-right:after,
.arrow-white-right:after {
	font-family: FontAwesome;
	font-size: 1.2em;

	margin: 10px 0 0 10px;

	content: '\f0da';
	vertical-align: middle;
}
.arrow-green-right:after {
	color: #bccc2a;
}
.arrow-white-right:after {
	color: #fff;
}
.arrow-blue-right {
	color: #0079c1;
}
.bold {
	font-family: 'ProximaNova-Bold';
}
/* Emphaiss refers to blue, empahsis-alt refers to green in both backgrousn and text */
span.emphasis {
	color: #0079c1;
}
/* Page Elements */
.emphasis-full {
	color: white;
	background: #1688ca;
}
.emphasis-full-dark {
	padding: 20px 5px;

	background: #0079c1;
}

.emphasis-full-alt {
	content: #0079c1;

	background: #bccc2a;
}
.arrow {
	position: absolute;

	width: 0;
	height: 0;
}

/**
 *  Header
 */

/* Setup */
header {
	color: #fff;
}
header nav {
	float: left;
}
/* Top Area */
.tbtm-logo {
	float: left;
	overflow: hidden;

	white-space: nowrap;
	text-indent: 100%;
}
/* MQs so we dont' load it twice */
@media only screen and (min-width : 768px) {
	.tbtm-logo {
		width: 387px;
		height: 45px;
		margin: 0 0 0 -21px;

		background: url(../assets/images/tbtm_logo_desk.png) no-repeat;
		background-size: contain;
	}
}
@media only screen and (max-width : 767px) {
	.tbtm-logo {
		width: 438px;
		max-width: 65%;
		height: 52px;
		margin: 0;

		background: url(../assets/images/tbtm_logo_mobile.png) center no-repeat;
		background-size: contain;
	}
}

.nav-area {
	padding: 20px 5px 20px 45px;
}
/* Bottom Area - Menu*/
header .give {
	float: right;

	margin: 10px 0 0 0;
}
.main-nav-toggle {
	display: none;
}
nav ul {
	float: left;

	height: 45px;
	margin: 19px 0 0;
}
nav a,
nav a:link {
	font-size: 21px;
}
nav ul li {
	display: block;
	float: left;

	margin: 0 0 0 40px;
}
nav ul  li:nth-child(1) {
	margin: 0;
}
/*arrow*/
.white-up {
	top: -10px;
	left: 59px;

	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
	border-left: 10px solid transparent;
}
.menu-padding-area {
	height: 15px;
}
.emphasis-full-dark h2 {
	text-align: center;
}
/**
 *  Content
 */

/* Social Bar */
.social-bar {
	text-align: center;
}
.social-bar li {
	display: inline-block;

	margin-top: 20px;
}
.fb_iframe_widget {
	top: -12px;
}
.social-wrap {
	min-height: 66px;

	background: #f2f2f2;
}
.full-shaded h3,
.how-it-works {
	display: inline-block;
}
.full-shaded h3 {
	font-size: 24px;
	/*width: 175px;*/

	width: 14%;
	margin: 39px 10px 0 0;

	vertical-align: top;
}

.how-works-wrap .section {
	position: relative;
}
.how-works {
	padding: 20px 0 0 0;
}
.long-arrow {
	position: absolute;
	top: 21%;

	width: 161px;
	height: 15px;

	background: url(../assets/images/how-it-works/dotted-lines2.png) no-repeat -10px;
}
.arrow-one {
	left: 17.5%;
}
.arrow-two {
	left: 42.5%;
}
.arrow-three {
	left: 68%;
}
.how-works h5 {
	font-family: 'ProximaNova-Bold';
	line-height: 1.5em;

	margin: 10px 0 0 0;

	color: #231f20;
}
.how-works h3 {
	margin: 20px 0;

	text-align: center;

	color: #231f20;
}
.how-works p {
	line-height: 1.5em;

	margin: 10px 0 0 0;

	color: #231f20;
}
.how-works .span_1_of_4 a {
	text-align: center;
}
.how-works .span_1_of_4 img {
	margin: 0 auto;
}
.blue-down {
	left: 50%;

	border-top: 30px solid #0079c4;
	border-right: 30px solid transparent;
	border-left: 30px solid transparent;
}
/* Pick a month */




/* This Month's Dedications */

/* Setup and Layout */
.blue-right {
	left: 100%;
	/* Rest of the properties in arrow class*/

	border-top: 33px solid transparent;
	border-bottom: 33px solid transparent;
	border-left: 33px solid #0079c1;
}
.blue-left {
	right: 100%;
	/* Rest of the properties in arrow class*/

	border-top: 33px solid transparent;
	border-right: 33px solid #0079c1;
	border-bottom: 33px solid transparent;
}
.green-left {
	right: 100%;
	/* Rest of the info in arrow class*/

	border-top: 33px solid transparent;
	border-right: 33px solid #bccc2a;
	border-bottom: 33px solid transparent;
}
.green-right {
	left: 100%;

	border-top: 33px solid transparent;
	border-bottom: 33px solid transparent;
	border-left: 33px solid #bccc2a;
}

.col p {
	text-align: center;
}
.choose-how .col {
	position: relative;
}
/** Must be dfined explicityly or they 
  * will overflow in FF*/
.choose-how img.desktop,
.choose-how img.mobile {
	width: 100%;
}

.choose-how img.mobile {
	display: none;
}
.photo-text {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	padding: 12.5%;

	text-align: center;

	color: white;
}
.choose-how .section:nth-of-type(1) .col:nth-of-type(1) .title {
	font-size: 34px;

	margin: 8% auto 10px;
}
.choose-how .section:nth-of-type(1) .col:nth-of-type(1) p {
	font-size: 33px;
}
.photo-text img {
	margin: 10% auto 22px;
}
.photo-text p {
	line-height: 1.3em;

	margin: 0 10px;
}
.choose-how .section:nth-of-type(1) .col:nth-of-type(1) {
	background: #b5be00;
}

/**
 * Tint code from http://www.impressivewebs.com/image-tint-blend-css/ */
.tint {
	position: relative;

	float: left;

	cursor: pointer;
}

.tint:before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: block;

	content: '';
	-webkit-transition: background 0.2s ease-in;
	   -moz-transition: background 0.2s ease-in;
	     -o-transition: background 0.2s ease-in;
	        transition: background 0.2s ease-in;

	background: rgba(0,0,0, 0.4);
}

a:hover .tint:before,
a:active .tine:before {
	background: rgba(0,0,0, 0.2);
}
/**
 * Search Area
 */

.search {
	background: #0079c0;
}
.search form .search-label {
	margin: 0 0 10px 0;

	color: #fff;
}
.search .span_2_of_3 .search-label {
	margin-left: 8.5%;
}
.search form {
	float: right;
}
.search input[type='text'] {
	font-size: 15px;

	width: 280px;
	height: 45px;
	padding: 0.5em 1em;
}

.search input[type=submit] {
	width: 45px;
	height: 45px;

	cursor: pointer;
	vertical-align: top;
	text-indent: -9999px;

	border: 0;
	border-radius: 0;
	background: url(../assets/images/icon-mag-glass.png) no-repeat;
}
span.or {
	margin: 0 1em 0 0.5em;

	color: #fff;
}
div.or-lines {
	display: none;
}


.search .col {
	padding: 1em 0;
}
/* Modify the grid slightly */

@media only screen and (min-width : 768px) {
	.search .col {
		margin: 1% 0 1% 0;
	}
	.search .span_2_of_3 {
		width: 65.99%;
	}
	.search .span_1_of_3 {
		width: 34%;
	}
}
.impact {
	font-size: 30px;

	margin: 20px 0;

	text-align: center;
}
/***********
 * Facts Section
 **********/
.emphasis-alt {
	color: #bdcc2a;
}
.fact-text {
	padding: 1% 5%;

	color: #fff;
	background: #0b7abf;
}
.fact-image {
	padding: 10% 0;

	background: #f0f1f1;
}

.fact-image img {
	margin: 0 auto;
}



/**
 * Footer 
 */
footer {
	margin: 20px 0 0 0;

	text-align: center;
}

footer .emphasis-full-alt .center {
	padding: 20px 0 15px;
}
footer .emphasis-full {
	background: #0b7abf;
}
footer .emphasis-full .center {
	width: 100%;
	padding: 55px 0 35px 0;
}
.icon-2x {
	margin: 0 10px 0 0;
}
.tou {
	font-size: 12px;
}
.tou p {
	line-height: 1.3em;
}
footer .emphasis-full {
	padding: 0 0 40px 0;
}
.social-icons a {
	opacity: 0.8;
	color: #fff;
}
.social-icons a:hover {
	opacity: 1;
}

/* this is the 'be the match' logo
 * in footer. Header logo is .tbtm-logo
 */
.btm-logo {
	margin: 22px auto 0;
}
/*******************
 * Tablet
 ******************/

@media only screen and (min-width : 768px) and (max-width: 1169px) {
	.tbtm-logo {
		margin: 0;
	}
	nav ul li {
		margin: 0 0 0 20px;
	}
	nav ul li a {
		font-size: 18px;

		cursor: pointer;
	}
	nav {
		width: 59%;
	}
	.long-arrow {
		width: 11%;
		height: 15px;

		background-position: 100%;
	}
	.arrow-one {
		left: 18.5%;
	}
	.arrow-two {
		left: 43.5%;
	}
	.arrow-three {
		left: 68.5%;
	}
	.front-left {
		width: 27%;
		margin: 20px 20px 0 0;
	}
	.choose-how .section:nth-of-type(1) .col:nth-of-type(1) .title p {
		font-size: 26px;
		line-height: 1.2em;
	}
	.search .span_2_of_3 .search-label {
		margin-left: 12%;
	}
	.fact-text {
		height: 6.5em;
	}
}
/*****************
  * Mobile
*****************/

@media only screen and (max-width : 767px) {
	.main-content {
		margin: 0;
	}
	.pad {
		padding: 40px 10px 0;
	}
	p {
		font-size: 16px;
	}
	.tou p {
		line-height: 1em;
	}
	header .give {
		display: none;
	}
	.nav-area {
		padding: 0;
	}
	.main-nav-toggle {
		top: 60px;

		display: block;
		float: right;

		margin: 0 -10px 0 0;
		padding: 1em 0.5em;

		color: #b5be34;
	}
	nav {
		position: relative;
		top: 0;
		left: 0;

		display: none;

		width: 800px;
		margin-left: -19px;

		background: #f1f2f2;
	}

	nav ul li {
		margin: 0;
	}
	.main-nav-toggle.active .ico_mobile-menu {
		display: block;

		color: white;
	}
	.main-nav-toggle.active {
		padding: 1em;

		color: #b5be34;
		background: #f1f2f2;
	}
	/*Defining an explicity height here to match to <li>s in mobile view*/
	nav.active {
		display: block;

		height: 13.3em;
	}
	/* resets */
	nav ul {
		float: none;

		height: 100%;
		margin: 0;
	}
	nav ul li {
		width: 100%;
	}
	nav ul li a {
		font-family: 'ProximaNova-Bold';
		font-weight: bold;

		display: block;

		padding: 1em;

		cursor: pointer;

		border-bottom: 3px solid #fff;
	}
	nav ul li:last-child a {
		border-bottom: none;
	}
	.blue-down {
		left: 47%;
	}

	.full-shaded h3 {
		width: 100%;
		margin: 0 0 10px 0;

		text-align: center;
	}
	.long-arrow {
		top: 95%;

		width: 15px;
		height: 53px;

		background: url(../assets/images/how-it-works/dotted-lines-down.png) no-repeat;
	}
	.arrow-one {
		left: 29%;
	}
	.arrow-two {
		left: 29%;
	}
	.arrow-three {
		left: 29%;
	}

	.emphasis-full {
		padding: 0 0 50px 0;
	}
	.emphasis-full-dark {
		padding: 10px 5px;
	}
	.emphasis-full-dark h2 {
		font-size: 20px;
	}
	/* Photo choose grid */
	.choose-how img.desktop {
		display: none;
	}
	.choose-how img.mobile {
		display: block;
	}
	.photo-text {
		padding: 10% 10%;
	}
	.photo-text img {
		margin: 0 auto;
	}
	.photo-text p {
		font-size: 18px;

		margin: 0;
	}
	.choose-how .section:nth-of-type(1) .col:nth-of-type(1) .title {
		margin: 0;
	}
	.choose-how .section:nth-of-type(1) .col:nth-of-type(1) p {
		font-size: 19px;
	}
	.social-wrap {
		background: #fff;
	}
	/**
	  * How it works section 
    */
	/* Add color on full width wrapper in mobile onlye*/
	.how-works-wrap {
		background: #f3f3f3;
	}
	.how-works .section {
		position: inherit;
	}

	.how-works-text {
		display: inline-block;

		width: 40%;
		margin: 0 0 0 2%;

		text-align: left;
		vertical-align: top;
	}
	.how-works .span_1_of_4 img {
		display: inline-block;
	}
	.how-works a {
		position: relative;

		display: block;

		width: 95%;
		margin: 0 auto;
	}
	.how-works p {
		font-size: 14px;

		margin: 0;

		text-align: left;
	}
	.how-works .col {
		position: relative;

		margin: 0 0 50px 0;
	}
	.search form {
		float: none;
	}
	span.or {
		display: none;
	}
	div.or-lines {
		display: block;
		overflow: hidden;

		width: 81%;
		margin: 0 auto;

		text-align: center;

		color: #fff;
	}
	.hr {
		display: inline-block;

		width: 34%;
		height: 1px;
		margin-right: 5%;
		margin-left: 5%;

		vertical-align: middle;

		background: #fff no-repeat;
	}

	.search input[type='text'],
	.search input[type=submit] {
		display: block;

		width: 71%;
		min-width: 310px;
		margin: 23px auto 0;
	}
	.search input[type='text'] {
		font-size: 20px;

		height: 70px;
	}
	.search input[type=submit] {
		font-size: 18px;

		text-indent: 0;
		text-transform: capitalize;

		color: #0b7abf;
		background: #589fd3;
	}
	.search .col .search-label {
		margin-left: 14.5%;
	}
	.fact-image {
		float: left;

		width: 44%;
		height: 100%;
		padding: 1%;
	}
	.fact-text {
		float: left;

		width: 55.9%;
		height: 100%;
	}
	.facts .col {
		height: 184px;
	}
	.facts p {
		line-height: 1.5em;

		height: 184px;
		padding: 28px 0 0 10px;

		text-align: left;
	}
}

/***************
* TARGETED MQs
***************/

@media only screen and (min-width: 970px ) and (max-width: 1169px) {
	.month-circles li {
		width: 110px;
		height: 110px;
		margin: 1em;
	}
	.search input[type='text'] {
		width: 245px;
	}
	.search .span_2_of_3 .search-label {
		margin-left: 10%;
	}
}
@media only screen and (min-width: 850px ) and (max-width: 969px) {
	.month-circles li {
		width: 90px;
		height: 90px;
		margin: 1em;
	}
	.long-arrow {
		width: 8%;

		background-position: 100%;
	}
	.arrow-one {
		left: 20.5%;
	}
	.arrow-two {
		left: 45.5%;
	}
	.arrow-three {
		left: 70.5%;
	}
	.search input[type='text'] {
		width: 205px;
	}
}
@media only screen and (min-width: 768px ) and (max-width: 849px) {
	.long-arrow {
		background: url(../assets/images/how-it-works/dotted-lines-small.png) no-repeat;
	}
	.arrow-one {
		left: 21.5%;
	}
	.arrow-two {
		left: 46.5%;
	}
	.arrow-three {
		left: 71.5%;
	}
	.search input[type='text'] {
		width: 175px;
	}
}
@media only screen and (min-width: 540px ) and (max-width: 767px) {
	.circle {
		width: 100px;
		height: 100px;
	}
	.month-circles li {
		width: 120px;
		height: 120px;
		margin: 0.5em;
	}
	.circle p {
		top: 17%;
	}
}

@media only screen and (max-width : 444px) {
	.emphasis-full-dark h2 {
		font-size: 17px;
	}
	.month-circles li {
		width: 67px;
		height: 67px;
		margin: 0.25em;
	}
	.circle {
		width: 64px;
		height: 64px;
		margin: 29% auto;
	}
	.circle p {
		top: 6%;
	}
	.circle-day {
		font-size: 25px;
	}
	.photo-text p {
		font-size: 14px;
	}
	.choose-how .section:nth-of-type(1) .col:nth-of-type(1) p {
		font-size: 17px;
	}
	.choose-how .section:nth-of-type(1) .col:nth-of-type(1) .title {
		font-size: 24px;
	}
	.photo-text {
		padding: 5%;
	}
	.fact-image {
		padding: 3% 1%;
	}
	.facts p {
		font-size: 15px;
	}
	.icon-2x {
		margin: 0 2px 0 0;
	}
	.hr {
		width: 31%;
	}
}